# Ignore all CSVs in the data folder...
data/*

# ...but explicitly keep this important one
!data/transactions_with_clusters.csv

# OPTIONAL: ignore large model files
models/*.pkl

# Ignore notebook checkpoints
.ipynb_checkpoints/

# Ignore Python cache files
__pycache__/
*.pyc
